// Colors
$primary-color: #000000;
$secondary-color: #ffffff;
$tertiary-color: #42b983;
$quaternary-color: #3aa876;
$quinary-color: #ff6600;
$senary-color: #e55b00;
$septenary-color: #38184c;

$border-color: #ddd;
$shadow-color: rgba(0, 0, 0, 0.1);

$color-white-background: #fff8e7;
$color-green-background: #063520;
$color-blue-background: #0c6e7d;

$color-text-primary: #2d2d2d;
$color-text-secondary: #a4a4a4;
$color-text-tertiary: #c04848;
$color-text-quaternary: #210234;
