// Colors
$primary-color: #000000;
$secondary-color: #ffffff;
$tertiary-color: #42b983;
$quaternary-color: #3aa876;
$quinary-color: #ff6600;
$senary-color: #e55b00;
$text-color: #333;
$border-color: #ddd;
$shadow-color: rgba(0, 0, 0, 0.1);

// Typography
$font-family-primary: 'Roboto', sans-serif;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
