@use '../base/variables' as *;
@use '../base/typography' as *;

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10rem 0;
  gap: 13rem;

  .content-wrapper {
    flex: 0 1 auto;
    max-width: 500px;

    h1 {
      font-family: $font-family-secondary;
      font-size: 5rem;
      font-weight: 700;
      line-height: 1;
      color: $color-text-primary;
    }

    p {
      font-family: $font-family-primary;
      font-size: 1.3rem;
      line-height: 1.3;
      color: $color-text-secondary;
    }
  }

  .image-wrapper {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      max-width: 500px;
      height: auto;
      object-fit: contain;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05) translateY(-10px);
      }
    }
  }
}
