@use "../base/mixins" as *;

.container-buttons {
  display: flex;
  flex-wrap: wrap;
}

.button {
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;

  @include respond-to("xs") {
    white-space: nowrap;
  }

  &:hover {
    opacity: 0.8;
  }
}
