@use '../base/variables' as *;

.custom-carousel {
  padding: 0;
  margin: 2rem 15rem;
}

:deep(.carousel__slide) {
  padding: 1rem;
}

.carousel-item {
  background: $secondary-color;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px $shadow-color;
  transition: transform 0.3s;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-5px);
  }
}

.carousel-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.carousel-content {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;

  h3 {
    margin: 0;
    color: $primary-color;
    font-size: 1.2rem;
  }
}

.price {
  color: $tertiary-color;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.carousel-button {
  background: $tertiary-color;
  color: $secondary-color;
  border: none;
  padding: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: auto;

  &:hover {
    background: $quaternary-color;
  }
}

:deep(.carousel__prev),
:deep(.carousel__next) {
  background-color: $tertiary-color;
  border: none;
  border-radius: 50%;
}

:deep(.carousel__pagination-button) {
  background-color: $border-color;
}

:deep(.carousel__pagination-button--active) {
  background-color: $tertiary-color;
}
