@use '../base/variables' as *;

header {
  background-color: $septenary-color;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

h1 {
  margin: 0;
  color: $secondary-color;
}

nav {
  display: flex;
  gap: 20px;

  a {
    color: $secondary-color;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $tertiary-color;
    }
  }
}
