@use "../base/variables" as *;

.separator {
  display: flex;
  align-items: center;
  width: 100%;

  &--horizontal {
    .separator__line {
      width: 100%;
      margin: 1rem 0;
    }
  }

  &--vertical {
    height: 100%;
    width: auto;

    .separator__line {
      height: 100%;
      margin: 0;
    }
  }

  &__line {
    border: none;
    margin: 0;
    padding: 0;
  }
}
