@use "../base/variables" as *;

.separator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  .separator-line {
    flex: 1;
    height: 2px;
    background-color: $septenary-color;
  }

  &.vertical {
    flex-direction: column;
    height: 100%;
    margin: 0 20px;

    .separator-line {
      width: 2px;
      height: 100%;
      min-height: 100px;
    }
  }
}
