@use "../base/variables" as *;

.separator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  .separator-line {
    flex: 1;
    background-color: $septenary-color;
  }

  &.vertical {
    flex-direction: column;
    height: 100%;
    margin: 0 20px;
  }
}
