@use '../base/variables' as *;

.section-carousel {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-carousel h1 {
  color: $primary-color;
  font-size: 2rem;
}

.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
