@use "../base/variables" as *;
@use "../base/mixins" as *;

.menu-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 9rem 0 3rem 0;

  h1 {
    color: $primary-color;
  }

  .buttons-component {
    @include respond-to("xs") {
      flex-direction: column;
    }
  }

  .menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    @include respond-to("xs") {
      flex-direction: column;
    }
  }

  .button-cart {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $primary-color;
    }
  }
}
