@use "../base/variables" as *;

.not-found {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: $color-white-background-secondary;

  &__container {
    max-width: 500px;
    padding: 2rem;

    h1 {
      font-size: 6rem;
      color: $tertiary-color;
      margin: 0;
      line-height: 1;
    }

    h2 {
      font-size: 2rem;
      color: $color-text-quinary;
      margin: 1rem 0;
    }

    p {
      color: #6c757d;
      margin-bottom: 2rem;
    }
  }

  &__button {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    background-color: $tertiary-color;
    color: $secondary-color;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $quaternary-color;
    }
  }
}
