@use "../../base/variables" as *;
@use "../../base/mixins" as *;

.modal-add-products {
  // Overlay do modal com posicionamento fixo
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  @include flex-center();

  &__container {
    background-color: $secondary-color;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    max-height: 92%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-left: 6px solid $tertiary-color;

    .modal-add-products__header {
      display: flex;
      justify-content: flex-end;
    }

    .modal-add-products__select {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.5rem;
        color: $color-text-primary;
        font-weight: 600;
      }

      select {
        padding: 0.75rem;
        border: 1px solid $border-color;
        border-radius: 6px;
        font-size: 1rem;
        transition: border-color 0.3s ease;
        &:focus {
          outline: none;
          border-color: $tertiary-color;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
          font-weight: 600;
          color: $color-text-primary;
        }

        input {
          width: 100%;
          padding: 0.75rem;
          border: 1px solid $border-color;
          border-radius: 6px;
          font-size: 1rem;
          transition:
            border-color 0.3s ease,
            box-shadow 0.3s ease;
          &:focus {
            outline: none;
            border-color: $tertiary-color;
            box-shadow: 0 0 0 2px rgba($tertiary-color, 0.15);
          }
        }
      }

      .modal-add-products__buttons {
        display: flex;
        justify-content: center;
        gap: 2rem;
      }
    }
  }
}
