@use "../base/variables" as *;
@use "../base/mixins" as *;

.admin-layout {
  display: flex;
  min-height: 100vh;

  .admin-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    width: calc(100% - 250px);
    min-height: 100vh;
    background-color: $color-white-background;
    transition:
      margin-left 0.3s ease,
      width 0.3s ease;
    position: relative;

    @include respond-to("xs") {
      margin-left: 50px;
      width: calc(100% - 50px);
    }
  }

  .admin-header {
    position: fixed;
    top: 0;
    right: 0;
    height: auto;
    min-height: 55px;
    width: calc(100% - 250px);
    background-color: $color-text-quinary;
    z-index: 99;
    transition: width 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.25rem 0;

    @include respond-to("xs") {
      width: calc(100% - 50px);
    }
  }

  .admin-main {
    margin-top: 130px;
    flex: 1;
    padding: 2rem;
    background-color: $color-white-background;

    @include respond-to("sm") {
      padding: 1rem;
    }

    @include respond-to("xs") {
      padding: 0.5rem;
    }
  }

  .footer-admin__layout {
    padding: 0 1.5rem;
  }
}
