@use "../base/variables" as *;
@use "../base/mixins" as *;

/* 
  Layout Administrativo
  - Define a estrutura base do layout administrativo
  - Gerencia o comportamento responsivo
  - Controla estados do sidebar
*/

.admin-layout {
  display: flex;
  min-height: 100vh;

  // Conteúdo principal
  .admin-content {
    $sidebar-width: 250px;
    $sidebar-collapsed-width: 50px;

    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
    min-height: 100vh;
    background-color: $color-white-background;
    position: relative;
    transition:
      margin-left 0.3s ease,
      width 0.3s ease;

    // Responsividade para dispositivos pequenos
    @include respond-to("xs") {
      margin-left: $sidebar-collapsed-width;
      width: calc(100% - #{$sidebar-collapsed-width});
    }
  }

  // Cabeçalho administrativo
  .admin-header {
    $header-height: 55px;
    $sidebar-width: 250px;
    $sidebar-collapsed-width: 50px;

    position: fixed;
    top: 0;
    right: 0;
    min-height: $header-height;
    width: calc(100% - #{$sidebar-width});
    background-color: $color-text-quinary;
    z-index: 1200;
    transition: width 0.3s ease;
    padding: 0.25rem 0;

    @include flex-center();
    justify-content: space-between;
    align-items: stretch;

    // Responsividade para dispositivos pequenos
    @include respond-to("xs") {
      width: calc(100% - #{$sidebar-collapsed-width});
    }
  }

  // Área principal de conteúdo
  .admin-main {
    margin-top: 60px;
    flex: 1;
    padding: 2rem;
    background-color: $color-white-background;

    // Ajustes responsivos
    @include respond-to("sm") {
      padding: 1rem;
    }

    @include respond-to("xs") {
      padding: 0.5rem;
      margin-top: 130px;
    }
  }

  // Estado do sidebar colapsado
  &.sidebar-collapsed {
    $sidebar-collapsed-width: 50px;

    .admin-content,
    .admin-header {
      margin-left: $sidebar-collapsed-width;
      width: calc(100% - #{$sidebar-collapsed-width});
    }
  }
}
